
RewriteEngine on
RewriteCond %{HTTP_HOST} ^krutpatel\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.krutpatel\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "http\:\/\/krutpatel\.com\/index\.html" [R=301,L]

